/* 国内机票导航栏 */
#order{
  /*position:absolute;*/
  display:flex;
  align-items: center;
  justify-content: center;
  width:100%;

}
#order ul.ticket{
  padding:0;
  margin:0;
  list-style-type:none;
  background-color:rgba(0,0,0,0.75);
  width:900px;
  height:44px;
  border-radius: 5px;

  display:flex;
  align-items:center;
  justify-content: center;
}
#order ul.ticket li{
  display:inline-block;
  color:white;
  font-size:18px;

  height:44px;
  line-height:44px;
  width:20%;

  text-align: center;
}
#order ul.ticket li:hover{
  border-radius:5px;
  background-color:rgba(0,0,0,.9);
}
#order ul.ticket li.select{
  border-radius:5px;
  background-color:rgba(149,194,237,0.6);
}


/* 热门城市推荐 */
#hot-cities{
  width:100%;
}
#hot-cities span{
  display: inline-block;
  width:19%;
  height:30px;
  line-height:30px;
  text-align:center;
}
#order ul.cities{
  /* display:inline-block; */
  padding:0;
  margin:0;
  list-style-type:none;
  /* background-color:rgba(125, 165, 224, 0.75); */
  width:80%;
  height:30px;

  display:inline-flex;
  align-items: center;
  justify-content: center;
}
#order ul.cities li{
  display:inline-block;
  line-height: 30px;
  text-align:center;
  width:10%;
}
#order ul.cities li:hover{
  background-color:rgba(125, 165, 224, 0.75);
  border-radius: 5px;
}

/* 用户查询信息的输入 */
#searching_info{
  width:900px;
}
/* 滑条 */
#searching_info p.three_lines{
  margin-bottom: 3px;
}
#searching_info .three_lines span{
  display: inline-flex;
  height:5px;
  width:32%;
  /* border-radius: 1px; */
}
#searching_info .three_lines span.cur_info_input{
  background-color: teal;

}
/* 三个输入框 */
#searching_info p.three_input{
  box-shadow: 10px 10px 5px rgba(0,0,0,0.2);
  margin-bottom: 20px;
}
#searching_info input{
  display: inline-flex;

  width:30%;
  height:60px;
  /* border:1px solid blue; */
  font-size:20px;
  padding-left:20px;
  border-radius: 4px;
  border:0;
}
#searching_info input:focus{
  border:0;
  outline: none;
  color:royalblue;
}
